<a href="https://colab.research.google.com/github/dongupak/Prime-Python/blob/master/jupyter-notebook/Ch10_%EB%9E%8C%EB%8B%A4_%ED%95%A8%EC%88%98%EC%99%80_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EC%B6%95%EC%95%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **생능 출판사 "으뜸 파이썬"(1판) 교재의 소스 코드**
## *10장 람다함수와 리스트 축악*

---
* 출판사 : 생능 출판사( http://www.booksr.co.kr/ )
* 으뜸 파이썬 저자 : 박동규, 강영민 
* 소스코드 저장소 : https://github.com/dongupak/Prime-Python
* 저작권 : 본 주피터 노트북 코드는 학습을 위한 목적으로 자유롭게 배포가능하지만 위의 출판사, 저서, 저자표기와 함께 배포해 주십시오.
---

# 코드 10-1 : add() 함수를 이용한 정수의 덧셈과 결과 반환
## function_add.py

In [0]:
# add() 함수를 이용한 덧셈
def add(x, y):
    return x + y
    
print('100과 200의 합 :', add(100, 200))

100과 200의 합 : 300

# 코드 10-2 : 람다 함수를 정의하고 add라는 변수를 통해 참조하기
## lambda_add.py

In [0]:
# 람다 함수를 이용한 덧셈
add = lambda x, y: x + y   
print('100과 200의 합 :', add(100, 200))

100과 200의 합 : 300

# 코드 10-3 : 인라인 람다 함수와 인자를 이용한 덧셈
## inline_lambda_add.py

In [0]:
print('100과 200의 합 :', (lambda x, y: x + y)(100, 200))

100과 200의 합 : 300

# 코드 10-4 : 19이상의 값을 반환하는 adult_func() 함수와 필터함수의 적용
## age_filter.py

In [0]:
def adult_func(n):    # 19세 이상의 값이 들어오면 True, 그렇지 않으면 False를 반환
    if n >= 19:
        return True
    else:
        return False

ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트 :')
for a in filter(adult_func, ages):  # filter() 함수를 사용한 ages의 필터링
    print(a, end = ' ')

성년 리스트 :
34 39 20 54

# 코드 10-5 : 람다 함수를 이용한 간략화된 필터
## age_lambda_filter.py

In [0]:
ages = [34, 39, 20, 18, 13, 54]

print('성년 리스트 :')
for a in filter(lambda x: x >= 19, ages):  # filter() 함수를 사용한 ages의 필터
    print(a, end = ' ')

성년 리스트 :
34 39 20 54

## 코드 10-6 : 람다 함수를 이용한 간략화된 필터
### age_lambda_filter_list.py

In [0]:
ages = [34, 39, 20, 18, 13, 54]
adult_ages = list(filter(lambda x: x >= 19, ages))
print('성년 리스트 :', adult_ages)

성년 리스트 : [34, 39, 20, 54]

## 코드 10-7 : 람다 함수를 이용한 음수 값 추출기능 1
### minus_filter_func.py

In [0]:
def minus_func(n):   # n이 음수이면 True, 그렇지 않으면 False를 반환
    if n < 0 :
        return True
    else:
        return False

n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = []     # 음수를 저장할 리스트
for n in filter(minus_func, n_list):    
    minus_list.append(n)
print('음수 리스트 :', minus_list)

음수 리스트 : [-30, -5, -90, -36]

## 코드 10-8 : 람다 함수를 이용한 음수 값 추출기능 2
### lambda_filter_minus1.py

In [0]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = []
for n in filter(lambda x: x < 0, n_list):    
    minus_list.append(n)

print('음수 리스트 :', minus_list)

음수 리스트 : [-30, -5, -90, -36]

## 코드 10-9 : 람다 함수를 이용한 음수 값 추출기능 3
### lambda_filter_minus2.py

In [0]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = list(filter(lambda x: x < 0, n_list))
print('음수 리스트 :', minus_list)

음수 리스트 : [-30, -5, -90, -36]

# 코드 10-10 : 맵 함수를 이용한 제곱값 리스트 생성
## square_map_for.py

In [0]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = []
for n in a:
  square_a.append(n**2)  # n의 제곱을 square_a 리스트에 추가함
  
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

# 코드 10-11 : 맵 함수와 square() 호출을 이용한 제곱값 리스트 생성
## square_map_func.py

In [0]:
def square(x):
  return x ** 2

a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(square, a))  # a의 각 항목에 대해 square 함수의 반환값을 적용
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

# 코드 10-12 : 맵 함수와 람다 함수를 이용한 제곱값 리스트 생성
## square_map_lambda.py

In [0]:
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(lambda x: x**2, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

# 코드 10-13 : reduce() 함수를 사용한 멤버 덧셈
## reduce_lambda_sum.py

In [0]:
from functools import reduce

a = [1, 2, 3, 4]
n = reduce(lambda x, y: x + y, a)
print(n)

10

# 코드 10-14 : 람다함수와 리듀스를 이용한 축약
## reduce_lambda_mult.py

In [0]:
from functools import reduce

a = [1, 2, 3, 4]
n = reduce(lambda x, y: x * y, a)
print(n)

24

# 코드 10-15 : 맵, 람다 함수를 이용한 리스트의 제곱 구하기
## list_map_lambda_square.py

In [0]:
a = [1, 2, 3, 4, 5, 6, 7]          # 연속된 값을 가지는 리스트
a = list(map(lambda x: x**2, a))   # 리스트의 각 요소에 대하여 람다 함수 적용
print(a)

[1, 4, 9, 16, 25, 36, 49]

# 코드 10-16 : 리스트 축약 표현식을 이용한 리스트의 제곱 구하기
## list_comp_square.py

In [0]:
a = [1, 2, 3, 4, 5, 6, 7]  # 연속된 값을 가지는 리스트
a = [x**2 for x in a]      # 리스트의 각 요소에 대하여 x**2를 적용
print(a)

[1, 4, 9, 16, 25, 36, 49]

# 코드 10-17 : 리스트 축약 표현식과 range를 이용한 리스트의 제곱구하기
## list_comp_range_square.py

In [0]:
a = [x**2 for x in range(1, 8)]
print(a)

[1, 4, 9, 16, 25, 36, 49]

# 코드 10-18 : 문자열 각각을 대문자로 바꾸는 기능
## upper_chars_from_string.py

In [0]:
st = "Hello World"
s_list = [x.upper() for x in st]  # 문자열 각각에 대해 upper() 메소드 적용
print(s_list)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

# 코드 10-19 : list() 함수, filter() 함수, 람다 함수를 이용한 필터링
## age_lambda_filter_list.py

In [0]:
ages = [34, 39, 20, 18, 13, 54]
adult_ages = list(filter(lambda x: x >= 19, ages))
print('성년 리스트 :', adult_ages)

성년 리스트 : [34, 39, 20, 54]

# 코드 10-20 : 리스트 축약표현을 이용한 필터링
## age_list_comp_filter.py

In [0]:
ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트 :', [x for x in ages if x >= 19])

성년 리스트 : [34, 39, 20, 54]

# 코드 10-21 : list() 함수, filter() 함수, 람다 함수를 이용한 필터링
## lambda_filter_minus2.py

In [0]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = list(filter(lambda x: x < 0, n_list))
print('음수 리스트 :', minus_list)

음수 리스트 : [-30, -5, -90, -36]

# 코드 10-22 : 리스트 축약 표현과 if 조건식을 이용한 필터링
## list_comp_if_condition.py

In [0]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = [x for x in n_list if x < 0]
print('음수 리스트 :', minus_list)

음수 리스트 : [-30, -5, -90, -36]

## 대화창 실습 : 리스트의 축약 표현 실습

In [0]:
[x for x in range(10)]     # 0에서 9까지 숫자를 포함한 리스트

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
[x * x for x in range(10)] # 0에서 9까지 숫자의 제곱 값

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
[x for x in range(10) if x % 2 == 0]  # 0에서 9까지 숫자 중 짝수 값

[0, 2, 4, 6, 8]

In [0]:
[x for x in range(10) if x % 2 == 1]  # 0에서 9까지 숫자 중 홀수 값

[1, 3, 5, 7, 9]

In [0]:
[x * x for x in range(10) if x % 2 == 0]  # 0에서 9까지 숫자 중 짝수의 제곱 값

[0, 4, 16, 36, 64]

In [0]:
[x * x for x in range(10) if x % 2 == 1]  # 0에서 9까지 숫자 중 홀수의 제곱 값

[1, 9, 25, 49, 81]

## 대화창 실습 : 여러 개의 정수를 입력받는 두 가지 방법

In [0]:
s = input('정수를 여러개 입력하세요 : ').split()

정수를 여러개 입력하세요 : 10 20 30 40 50

In [0]:
lst = [int(x) for x in s]
lst

[10, 20, 30, 40, 50]

In [0]:
[int(x) for x in input('정수를 여러개 입력하세요 : ').split()]

정수를 여러개 입력하세요 : 1 2 3

[1, 2, 3]

# 코드 10-23 : 두 리스트를 곱하여 새 리스트를 생성하는 코드
## product_xy_for_loop.py

In [0]:
product_xy = []
for x in [1, 2, 3]:    # 이중 for 루프를 통해 두 리스트 원소의 곱을 모두 구함
    for y in [2, 4, 6]:
        product_xy.append(x * y)

print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]

# 코드 10-24 : 리스트 축약을 이용한 두 리스트의 곱하기 기능
## product_xy_comprehension.py

In [0]:
product_xy = [x * y for x in [1, 2, 3] for y in [2, 4, 6]]
print(product_xy)

[2, 4, 6, 4, 8, 12, 6, 12, 18]

## 대화창 실습 : 리스트의 축약 표현을 사용한 2와 3의 배수 구하기

In [0]:
[n for n in range(1, 31) if n % 2 == 0 if n % 3 == 0]

[6, 12, 18, 24, 30]

## 대화창 실습 : 리스트의 축약 표현을 사용한 2와 3과 5의 배수 구하기

In [0]:
[n for n in range(1, 31) if n % 2 == 0 if n % 3 == 0 if n % 5 == 0]

[30]

## 대화창 실습 : 반복자 객체로 변환가능한 리스트 형과 변환 불가능한 정수형

In [0]:
l = [10, 20, 30]  # 반복가능 자료형인 리스트
l_iter = iter(l)
l_iter

In [0]:
n = 100  # 반복불가능 자료형인 int
n_iter = iter(n)

TypeError: ignored

# 코드 10-25 : 리스트와 튜플, 정수 값을 반복자 객체로 변환시키기
## iterable_test.py

In [0]:
# 리스트가 반복가능 객체인가 검사
try:
    l = [10, 20, 30]
    iterator = iter(l)
except TypeError:
    print('list는 iterable 객체가 아닙니다.')
else:
    print('list는 iterable 객체입니다.')

# 튜플이 반복가능 객체인가 검사
try:
    t = ('홍길동', 22, 79.7)
    iterator = iter(t)
except TypeError:
    print('tuple은 iterable 객체가 아닙니다.')
else:
    print('tuple은 iterable 객체입니다.')

# 정수형이 반복가능 객체인가 검사
try:
    n = 100
    iterator = iter(n)
except TypeError:
    print('n은 iterable 객체가 아닙니다.')
else:
    print('n은 iterable 객체입니다.')

list는 iterable 객체입니다.
tuple은 iterable 객체입니다.
n은 iterable 객체가 아닙니다.

## 대화창 실습 : next() 함수를 사용한 반복자 객체의 원소 추출

In [0]:
lst = [10, 20, 30]
l_iter = iter(lst)  # 리스트 형 객체를 반복자로 만듦
type(l_iter)

list_iterator

In [0]:
next(l_iter)

10

In [0]:
next(l_iter)

20

In [0]:
next(l_iter)

30

In [0]:
next(l_iter)

StopIteration: ignored

## 대화창 실습 : `__next__()` 메소드를 사용한 반복자 객체의 원소 추출

In [0]:
lst = [10, 20, 30]

In [0]:
l_iter = iter(lst)  # 리스트 형 객체를 반복자로 만듦

In [0]:
l_iter.__next__()

10

In [0]:
l_iter.__next__()

20

In [0]:
l_iter.__next__()

30

In [0]:
l_iter.__next__()

StopIteration: ignored

## 대화창 실습 : range형 객체를 순환자 객체로 만들기

In [0]:
type(range(3))

range

In [0]:
r_iter = iter(range(3))  # range 형 객체를 반복자로 만듦
type(r_iter)

range_iterator

In [0]:
next(r_iter)  # 반복자이므로 next() 함수를 사용할 수 있음

0

In [0]:
next(r_iter)

1

In [0]:
next(r_iter)

2

In [0]:
next(r_iter)

StopIteration: ignored

## 대화창 실습 : range형 객체의 for ~ in 구문에서의 사용법

In [0]:
for i in range(5) :
    print(i, end = ' ')

0 1 2 3 4

# 코드 10-26 : OddCounter 클래스의 정의와 객체 생성
## oddcounter_with_next.py

In [0]:
class OddCounter:
    ''' 1부터 증가하는 홀수를 반환하는 클래스 '''
    def __init__(self, n = 1):  # 초기화 메소드, n을 1로 둔다
        self.n = n
  
    def __iter__(self):  # 반복자는 __iter__() 함수를 가져야 함
        return self

    def __next__(self):  # 반복자는 __next__() 함수를 가져야 함
        t = self.n       # self.n을 임시 변수 t에 저장해 두고
        self.n += 2      # self.n을 2증가시킨다
        return t         # t부터 출력해야 1이 가장 먼저 출력된다
  
my_counter = OddCounter()
print(next(my_counter))
print(my_counter.__next__())
print(my_counter.__next__())
print(my_counter.__next__())

1
3
5
7

# 코드 10-27 : OddCounter 클래스의 정의와 20보다 작은 홀수를 출력하는 방법
## oddcounter_with_for.py

In [0]:
class OddCounter:
    def __init__(self, n = 1):  # 초기화 메소드 : n을 1로 둔다
        self.n = n
  
    def __iter__(self):   # 반복자는 __iter__() 함수를 가져야 함
        return self

    def __next__(self):   # 반복자는 __next__() 함수를 가져야 함
        t = self.n        # self.n을 임시변수 t에 저장해 두고
        self.n += 2       # self.n을 2증가시킨 홀수를 만들어서
        return t          # t부터 출력해야 1이 가장 먼저 출력된다.

my_counter = OddCounter()
for x in my_counter:
    if x > 20:  # 반복을 종료하는 조건 : x > 20
        break
    print(x, end = ' ')

1 3 5 7 9 11 13 15 17 19

# 코드 10-28: OddCounter 클래스와 StopIteration 예외 생성기능
## oddcounter_with_raise.py

In [0]:
class OddCounter:
    def __init__(self, n = 1):
        self.n = n
  
    def __iter__(self):
        return self

    def __next__(self):
        if self.n < 20:      # 반복자가 수행되는 조건
            t = self.n
            self.n += 2
            return t
        
        raise StopIteration  # 조건을 만족하지 않으면 StopIteration을 raise함

my_counter = OddCounter()
for x in my_counter:
    print(x, end = ' ')

1 3 5 7 9 11 13 15 17 19

## 대화창 실습 : 리스트에 대한 all() 함수 적용 결과

In [0]:
l1 = [1,2,3,4]   # 모든 원소가 0이 아님
l2 = [0,2,4,8]   # 한 원소가 0임
l3 = [0,0,0,0]   # 모든 원소가 0임
all(l1)          # 모든 요소가 true 일 때만 True를 반환함

True

In [0]:
all(l2)

False

In [0]:
all(l3)

False

## 대화창 실습 : 리스트에 대한 any() 함수 적용 결과

In [0]:
any(l1)  # 항목들 중 하나만 true일 경우 True를 반환함

True

In [0]:
any(l2)

True

In [0]:
any(l3)  # 항목들이 모두 false(0)이므로 False를 반환함

False

## 대화창 실습 : 리스트에 대한 bool() 함수 적용 결과

In [0]:
bool(l1)  # 리스트에 원소가 있으면 True를 반환함

True

In [0]:
bool(l2)  # 리스트에 원소가 있으면 True를 반환함

True

In [0]:
bool(l3)

True

In [0]:
l4 = []  # 비어있는 리스트 l4
bool(l4) # 리스트에 원소가 없으면 False를 반환함

False

## 대화창 실습 : 문자열을 리스트 형으로 변환시킴

In [0]:
char_list = list('hello')
char_list

['h', 'e', 'l', 'l', 'o']

## 대화창 실습 : 공백 단위의 리스트를 만드는 split() 메소드

In [0]:
words = "Python은 아름다운 언어입니다."
words_list = words.split()
words_list

['Python은', '아름다운', '언어입니다.']

## 대화창 실습 : 마침표로 구분된 리스트를 만드는 split() 메소드

In [0]:
time_str = '2019.02.20'
time_str.split('.')

['2019', '02', '20']

## 대화창 실습 : join() 메소드를 이용한 리스트의 연결

In [0]:
time_list = ['2019', '02', '21']
time_list

['2019', '02', '21']

In [0]:
'.'.join(time_list)

'2019.02.21'

In [0]:
','.join(time_list)

'2019,02,21'

## 대화창 실습 : 제너레이터와 이를 이용한 for 문

In [0]:
my_generator = ( x for x in range(1, 4) )
for n in my_generator:
    print(n)

1
2
3

In [0]:
type(my_generator)

generator

# 코드 10-29 : 제너레이터의 예제
## generator_with_yield.py

In [0]:
def create_gen():
    alist = range(1, 4)
    for x in alist:
        yield x

my_generator = create_gen()
print(my_generator)
for n in my_generator:
    print(n)

<generator object create_gen at 0x7f9b51e870a0>
1
2
3