<a href="https://colab.research.google.com/github/dongupak/Prime-Python/blob/master/6%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **생능 출판사 "으뜸 파이썬"(1판) 교재의 연습문제 정답**
# *6장 딕셔너리, 튜플, 집합*
---
* 출판사 : 생능 출판사( http://www.booksr.co.kr/ )
* 으뜸 파이썬 저자 : 박동규, 강영민 
* 소스코드 저장소 : https://github.com/dongupak/Prime-Python
* 저작권 : 본 주피터 노트북 코드는 생능 출판사에서 배포하는 강사전용 자료입니다.
* 학생들의 학습의욕을 고취시키기 위해서 강사님들만 사용해주시고 **배포를 금해** 주십시오.
* 정답 문의 : dongupak@gmail.com(박동규)
---
# 6장 연습문제

## 6.1 다음과 같은 파이썬 딕셔너리 구조의 프로그램을 실행할 적에, 다음 밑줄 친 곳에 들어갈 알맞은 내용은 무엇인가? (5)번 문제의 출력을 위하여 len() 함수를 사용하시오.
---
```
>>> price = {'김밥‘: 5000, ’어묵‘: 3000, ’떡볶이‘: 2000}
>>> price['김밥‘]
(1) ______________
>>> price['김밥‘] = 6000
>>> price
(2) ______________
>>> price.values()
(3) ______________
>>> price.keys()
(4) ______________
>>> (5) _________________________________
이 식당의 메뉴 개수는 3개 입니다.
```

In [0]:
price = {'김밥': 5000, '어묵':3000, '떡볶이': 2000}
price['김밥']

5000

In [0]:
price['김밥'] = 6000
price

{'김밥': 6000, '떡볶이': 2000, '어묵': 3000}

In [0]:
price.values()

dict_values([6000, 3000, 2000])

In [0]:
price.keys()

dict_keys(['김밥', '어묵', '떡볶이'])

In [0]:
print('이 식당의 메뉴 개수는', len(price),'개 입니다')

이 식당의 메뉴 개수는 3 개 입니다

## 6.2 문제 6.1의 price 딕셔너리에 (‘순대’ : 4500) 메뉴를 추가하는 코드를 (1)에 넣으시오. (2)에는 그 후의 출력 결과를 적으시오. (3)은 price['순대‘]를 사용하여 출력하시오. (4)는 반드시 len() 함수를 이용하시오.
---
```
>>> (1) ______________
>>> price
(2) ________________________________________________________
>>> (3) ________________________________________________________
순대의 가격은 4500원 입니다.
>>> (4) _________________________________
이 식당의 메뉴 개수는 4개 입니다.
```

In [0]:
price['순대'] = 4500
price

{'김밥': 6000, '떡볶이': 2000, '순대': 4500, '어묵': 3000}

In [0]:
print('{}의 가격은 {}원 입니다.'.format('순대', price['순대']))

순대의 가격은 4500원 입니다.

In [0]:
print('이 식당의 메뉴 개수는', len(price),'개 입니다')

이 식당의 메뉴 개수는 4 개 입니다

## 6.3 동윤이가 새로 문을 열고 운영하는 커피 가게에는 Americano, Ice Americano, Cappuccino, Caffe Latte, Espresso의 5가지 메뉴가 있으며, 각 메뉴의 가격은 각각 3,000원, 3,500원, 4,000원, 4,500원, 3,600원이다. 이 목록을 menu라는 딕셔너리로 작성하라.
### 1) 이 menu의 내용을 for key in menu: 구문을 사용하여 다음과 같이 출력하여라.
---
실행 결과
```
Americano         가격 : 3,000원
Ice Americano     가격 : 3,500원
Cappuccino        가격 : 4,000원
Cafe Latte        가격 : 4,500원
Espresso          가격 : 3,600원
```

In [0]:
menu = {'Americano': 3000, 'Ice Americano': 3500, 'Cappuccino' : 4000, 'Cafe Latte':4500, 'Espresso':3600 }
for key in menu:
  print("{:16s}  가격 : {:,}원".format(key, menu[key]))

Americano         가격 : 3,000원
Ice Americano     가격 : 3,500원
Cappuccino        가격 : 4,000원
Cafe Latte        가격 : 4,500원
Espresso          가격 : 3,600원

### 2) 사용자로부터 다음과 같은 주문을 받은 후 주문한 내용이 메뉴에 있는지 구하는 프로그램을 작성하라(힌트: in 연산자를 사용할 것).
---
실행 결과
```
Americano         가격 : 3,000원
Ice Americano     가격 : 3,500원
Cappuccino        가격 : 4,000원
Cafe Latte        가격 : 4,500원
Espresso          가격 : 3,600원
위의 메뉴중 하나를 선택하세요: Espresso
Espresso는 3,600원 입니다. 결제를 부탁합니다.
```
---
실행 결과
```
Americano         가격 : 3,000원
Ice Americano     가격 : 3,500원
Cappuccino        가격 : 4,000원
Cafe Latte        가격 : 4,500원
Espresso          가격 : 3,600원
위의 메뉴중 하나를 선택하세요: Fan Cake
미안합니다. Fan Cake는 메뉴에 없습니다. 
```

In [0]:
print('Americano         가격 : 3,000원')
print('Ice Americano     가격 : 3,500원')
print('Cappuccino        가격 : 4,000원')
print('Cafe Latte        가격 : 4,500원')
print('Espresso          가격 : 3,600원')
choice = input('위의 메뉴중 하나를 선택하세요: ')
if choice in menu.keys():
  print('{}는 {:,}원 입니다. 결제를 부탁합니다.'.format(choice, menu[choice]))
else:
  print('미안합니다. {}는 메뉴에 없습니다'.format(choice))

Americano         가격 : 3,000원
Ice Americano     가격 : 3,500원
Cappuccino        가격 : 4,000원
Cafe Latte        가격 : 4,500원
Espresso          가격 : 3,600원
위의 메뉴중 하나를 선택하세요: Fan Cake
미안합니다. Fan Cake는 메뉴에 없습니다

## 6.4 다음의 코드에서 잘못된 부분은 무엇인가?
---
```
>>> t = (10, 20, 30, 40)
>>> t.append(50)
```
---
```
>>> t = (10, 20, 30, 40)
>>> t.remove(50)
```
---
```
>>> t = (10, 20, 30, 40)
>>> t[0] = 0
```

In [0]:
t = (10, 20, 30, 40)
t.append(50)

AttributeError: ignored

In [0]:
t = (10, 20, 30, 40)
t.remove(40)

AttributeError: ignored

In [0]:
t = (10, 20, 30, 40)
t[0] = 0

TypeError: ignored

## 6.5 다음의 실행 결과를 적으시오.
---
```
>>> t = (10, 20, 30, 40, 50, 60)
>>> t[0]
(1) ______________
>>> t[0:2]
(2) ______________
>>> t[1:]
(3) ______________
>>> t[:3]
(4) ______________
>>> t[1::2]
(5) ______________
>>> t[::-1]
```

In [0]:
t = (10, 20, 30, 40, 50, 60)
t[0]

10

In [0]:
t[0:2]

(10, 20)

In [0]:
t[1:]

(20, 30, 40, 50, 60)

In [0]:
t[:3]

(10, 20, 30)

In [0]:
t[1::2]

(20, 40, 60)

In [0]:
t[::-1]

(60, 50, 40, 30, 20, 10)

## 6.6 다음 코드의 실행 결과는 무엇인가?
---

In [0]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
t3 = ('d', 'e')

In [0]:
t1 == t2

True

In [0]:
t1 > t3

False

In [0]:
t1 < t3

True

In [0]:
t2 + t3

('a', 'b', 'c', 'd', 'e')

In [0]:
[ t2 + t3 ]

[('a', 'b', 'c', 'd', 'e')]

In [0]:
[ t2 + t3 ]

[('a', 'b', 'c', 'd', 'e')]

In [0]:
t1

('a', 'b', 'c')

## 반복가능 자료형에 담겨있는 내용을 가지고 새로운 리스트를 만들고 싶으면 다음과 같이 for 문을 사용할 수 있다. 다음을 실행해 보자.

In [0]:
my_list = []
for x in t1:
  my_list.append(x)
my_list

['a', 'b', 'c']

## 그런데 위의 코드를 조금 더 간략하게 구현하는 방법이 있다. 다음과 같이 리스트 안에서 for 문을 넣어 표현하는 방식을 리스트 축약 표현이라고 한다. 리스트 축약의 풍부한 기능은 12장에서 살펴볼 것이다. 여기서는 간단히 연습해 보자.

In [0]:
[ x for x in t1 ]

['a', 'b', 'c']

## 두 개의 반복가능 자료형이 가진 원소를 조합하는 것은 중첩된 for 문을 사용하면 된다. 예를 들어 t1과 t3의 원소들을 이용하여 가능한 모든 쌍을 서로 결합하여 리스트를 만들고 싶으면 다음과 같이 할 수 있다.

In [0]:
my_list = []
for e1 in t1:
  for e2 in t3:
    my_list.append(e1+e2)
my_list

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

## 이것을 리스트 축약으로 표현하면 이중 for 문 각각을 리스트에 나열하여 다음과 같이 쓰면 된다.

In [0]:
[ e1 + e2 for e1 in t1 for e2 in t3 ]

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

## 6.7 주어진 튜플은 10일 동안 일일 매장 매출을 기록한 것이다. 매출이 전날보다 감소한 날이 며칠인지 출력하는 코드를 작성하라. 
---
실행 결과
```
일일 매출 기록:  (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
지난 10일 동안 전일대비 매출이 감소한 날은 3일입니다.
```

In [0]:
sales = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
drop = 0

for i in range( len(sales)-1 ):
  if sales[i] > sales[i+1]:
    drop += 1
    
print('일일 매출 기록: ', sales)
print('지난 {}일 동안 전일대비 매출이 감소한 날은 {}일입니다.'.format(len(sales), drop))

일일 매출 기록:  (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
지난 10일 동안 전일대비 매출이 감소한 날은 3일입니다.

## 6.8 주어진 튜플 tup에서 한 번 이상 나타나는 원소를 찾아 집합 dup에 넣어서 이를 출력하라. 다음의 튜플에서 1, 2, 4는 2번, 9는 3번 나타난다. 따라서 결과는 {1, 2, 4, 9}가 된다(*힌트 : 비어있는 집합을 만드는 것은 dup = set()과 같이 할 수 있다. 이 dup 집합에 tup의 원소를 하나하나 추출한 다음 tup.count(item) > 1과 같이 item이 2개 이상 원소를 찾아서 dup에 추가하여 구할 수 있다*).
---
실행결과
```
주어진 튜플은:  (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는:  {1, 2, 4, 9}
```

In [0]:
tup = 1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9
dup = set()

for item in tup:
  if tup.count(item) > 1:
     dup.add(item)

print('주어진 튜플은: ', tup)
print('중복 원소는: ', dup)

주어진 튜플은:  (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는:  {1, 2, 4, 9}

## 6.9 중복 요소를 가진 튜플 tup에서 중복 요소가 하나만 나타나도록 수정한 튜플을 생성하라. 예들 들어 주어진 튜플에는 2가 두 번 나타나지만 중복을 제거하면 아래와 같이 한 번 나타난다(*힌트 : 원래의 튜플 tup를 집합 함수 set()에 넣어 집합 객체로 만든 후 다시 튜플 함수 tuple()에 넣도록 한다*).
---
```
주어진 튜플: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플: (1, 2, 3, 4, 5, 7, 8, 9)
```

In [0]:
tup = 1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3
print('주어진 튜플: ', tup)
tup = tuple(set(tup))
print('중복 제거 튜플: ', tup)

주어진 튜플:  (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플:  (1, 2, 3, 4, 5, 7, 8, 9)

## 6.10 주어진 튜플에서 가장 많이 나타나는 요소를 출력하라. 이때 가장 많이 나타나는 요소가 두 개 이상일 경우 이들 중에서 가장 큰 값을 출력하여라.
---
실행결과
```
주어진 튜플은: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 원소는: 3
```
## 혹은 3과 9가 각각 3회 나타나는 다음의 경우:

실행 결과
```
주어진 튜플은: (1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 원소는: 9
```

In [0]:
### 리스트 축약 없이 푸는 방법
tup = 1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3

temp = sorted(list(tup))

max_count = 1
count = 1
cur_value = max_value = temp[0]

for i in range(1, len(temp)):
  if temp[i] is cur_value:
    count += 1
    if count >= max_count:
      max_count = count
      max_value = cur_value
  else:
    cur_value = temp[i]
    count = 1

print(max_value)

3

In [0]:
### 리스트 축약 없이 푸는 방법
tup = 1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3

temp = sorted(list(tup))

max_count = 1
count = 1
cur_value = max_value = temp[0]

for i in range(1, len(temp)):
  if temp[i] is cur_value:
    count += 1
    if count >= max_count:
      max_count = count
      max_value = cur_value
  else:
    cur_value = temp[i]
    count = 1

print(max_value)

9

## 6.11 주어진 튜플의 원소 가운데 빈 튜플을 제거한 결과를 출력하는 코드를 작성하라. 이때 ((),) 튜플은 빈 튜플이 하나 있는 튜플로 간주하여 제거하지 않는다.
---
실행 결과
```
주어진 튜플 : [(), 1, (), (), (1,), ('a',), ('a', 'b'), ((),), ('a', 'b'), '']
빈 튜플 원소를 제거한 결과 : [1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]
```

In [1]:
tup = [(), (1), (), (), (1,), ('a',), ('a', 'b'), ((),), ('a', 'b'), ('')]

print('주어진 튜플 :', tup)
L = []

for t in tup:
    if t:
        L.append(t)

print('빈 튜플 원소를 제거한 결과 :' , L)

주어진 튜플 : [(), 1, (), (), (1,), ('a',), ('a', 'b'), ((),), ('a', 'b'), '']
빈 튜플 원소를 제거한 결과 : [1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]

## 6.12 튜플 데이터를 이용하면 임시변수를 사용하지 않고 두 변수의 값을 서로 교환(swap)할 수 있다. 이 교환 방법을 이용하여 다음과 같이 주어진 리스트에서 가장 큰 값 12를 제일 마지막으로 옮겨 놓는 프로그램을 작성해 보라.(제약조건 : 리스트의 원소를 살펴보기 위해 사용하는 for 문의 인덱스 변수 i를 제외하고는, 주어진 리스트 이외에 다른 어떤 변수도 추가로 사용해서는 안 된다)
---
실행 결과
``` 
주어진 리스트는 =  [5, 6, 3, 9, 2, 12, 3, 8, 7]
가장 큰 수를 마지막으로 옮긴 결과:  [5, 3, 6, 2, 9, 3, 8, 7, 12]
```

In [0]:
list = [5, 6, 3, 9, 2, 12, 3, 8, 7]

print('주어진 리스트는 = ', list)

for i in range(0, len(list)-1):
  if list[i] > list[i+1] :
    list[i], list[i+1] = list[i+1], list[i]
    
print('가장 큰 수를 마지막으로 옮긴 결과: ', list)

주어진 리스트는 =  [5, 6, 3, 9, 2, 12, 3, 8, 7]
가장 큰 수를 마지막으로 옮긴 결과:  [5, 3, 6, 2, 9, 3, 8, 7, 12]

## 6.13 `6.12` 문제를 개선하여 처음에는 가장 큰 수를 제일 마지막으로 옮기고, 두 번째 단계는 끝으로 옮겨진 원소를 제외한 리스트에서 가장 큰 수를 뒤에서 두 번째 위치로 옮기며, 세 번째 단계에서는 뒤의 두 원소를 제외한 나머지 리스트에서 가장 큰 수를 뒤에서 세 번째로 옮긴다. 이를 일반화 하면 k 번째 단계에서는 뒤에서 k-1 개 원소를 제외하고, 남은 리스트에서 가장 큰 원소를 뒤에서 부터 k 번째 위치에 옮겨 놓는 일을 처리할 리스트가 남지 않을 때까지 반복하면 큰 수부터 차례로 뒤에 쌓이게 된다. 이를 거품(bubble) 정렬이라고 한다. 이를 구현해 보라(힌트 : sorted() 함수나. 리스트의 sort() 메소드를 사용하지 말고 구현하시오).
---
실행결과
```
주어진 리스트는 =  [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는 = [2, 3, 3, 5, 6, 7, 8, 9, 12]
```

In [0]:
n_list = [5, 6, 3, 9, 2, 12, 3, 8, 7]

print('정렬전 리스트 :', n_list)

for i in range(0, len(n_list)-1):
  for j in range(0, len(n_list)-1-i):
    if n_list[j] > n_list[j+1] :
      n_list[j], n_list[j+1] = n_list[j+1], n_list[j]
    
print('정렬된 리스트 :', n_list)

정렬전 리스트 : [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 리스트 : [2, 3, 3, 5, 6, 7, 8, 9, 12]

## 6.14 앞서 작성한 버블 정렬 문제에서 정렬되기 전의 원소를 왼쪽에 두고 정렬된 원소를 오른쪽 리스트에 두어 각 단계별로 정렬이 진행되는 과정을 다음과 같이 시각화하시오.
---

```
정렬전 리스트 : [5, 6, 31, 9, 2, 12, 13, 8, 7]
1 단계 : [5, 6, 9, 2, 12, 13, 8, 7], [31]
2 단계 : [5, 6, 2, 9, 12, 8, 7], [13, 31]
3 단계 : [5, 2, 6, 9, 8, 7], [12, 13, 31]
4 단계 : [2, 5, 6, 8, 7], [9, 12, 13, 31]
5 단계 : [2, 5, 6, 7], [8, 9, 12, 13, 31]
6 단계 : [2, 5, 6], [7, 8, 9, 12, 13, 31]
7 단계 : [2, 5], [6, 7, 8, 9, 12, 13, 31]
8 단계 : [2], [5, 6, 7, 8, 9, 12, 13, 31]
정렬된 리스트 :  [2, 5, 6, 7, 8, 9, 12, 13, 31]
```

In [0]:
n_list = [5, 6, 31, 9, 2, 12, 13, 8, 7]

print('정렬전 리스트 :', n_list)

for i in range(0, len(n_list)-1):
  for j in range(0, len(n_list)-1-i):
    if n_list[j] > n_list[j+1] :
      n_list[j], n_list[j+1] = n_list[j+1], n_list[j]
  print('{} 단계 : {}, {}'.format(i+1, n_list[0:-(i+1)], n_list[-(i+1):]))
    
print('정렬된 리스트 : ', n_list)

정렬전 리스트 : [5, 6, 31, 9, 2, 12, 13, 8, 7]
1 단계 : [5, 6, 9, 2, 12, 13, 8, 7], [31]
2 단계 : [5, 6, 2, 9, 12, 8, 7], [13, 31]
3 단계 : [5, 2, 6, 9, 8, 7], [12, 13, 31]
4 단계 : [2, 5, 6, 8, 7], [9, 12, 13, 31]
5 단계 : [2, 5, 6, 7], [8, 9, 12, 13, 31]
6 단계 : [2, 5, 6], [7, 8, 9, 12, 13, 31]
7 단계 : [2, 5], [6, 7, 8, 9, 12, 13, 31]
8 단계 : [2], [5, 6, 7, 8, 9, 12, 13, 31]
정렬된 리스트 :  [2, 5, 6, 7, 8, 9, 12, 13, 31]

## 6.15 어떤 튜플이 주어졌을 때, 처음에는 튜플 전체를, 그 다음에는 마지막 한 원소를 제외하고, 그리고 그 다음 단계에는 마지막 두 원소를 제외하고 출력하는 코드를 슬라이싱을 이용하여 작성해 보라.
---
```
(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)
```

In [0]:
asorted_tuple = ( 4, 5, 2, 3, 8, 1, 9, 0)

for i in range(len(asorted_tuple)) :
  sub = asorted_tuple[0:len(asorted_tuple)-i]
  print(sub)

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

## 6.16 튜플을 원소로 가지는 student_tuple 튜플이 있다. 이 튜플의 원소 튜플은 (학번, 이름, 전화번호)로 이루어져 있다. 데이터의 예는 아래와 같다. 이를 이용하여 (학번:이름)의 딕셔너리를 만들고 학번을 입력하면 학생의 이름이 나오도록 하라.
---
### 주어진 데이터
```
student_tuple = (('191101', '홍길동', '010-123-45xx'), ('191102', '임꺽정', '010-223-45xx'), ('191103', '장길산', '010-323-45xx') )

```

### (힌트 : 튜플을 이용하여 딕셔너리를 만드는 방법은 다음과 같다.)
```
a = ('key1', 'value1')
b = ('key2', 'value2')
dictionary = dict((a, b))
print(dictionary)
----
{'key1': 'value1', 'key2': 'value2'}
```

### 이 프로그램은 다음과 같이 학번을 입력하면 이름을 출력하는 기능을 가지며, 학번 값으로 음수가 입력되면 프로그램이 종료된다.
---
실행 결과
```
학생 정보: {'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요 : 191102
191102번 학생은 임꺽정입니다.
학번을 입력하세요 : 191106
해당 학번의 학생이 없습니다.
학번을 입력하세요 : -1
프로그램을 종료합니다.
```

In [0]:
student_tuple = (('191101', '홍길동', '010-123-45xx'), ('191102', '임꺽정', '010-223-45xx'), ('191103', '장길산', '010-323-45xx') )
student_dict = dict( (num, name) for num, name, tel in student_tuple)

print('학생 정보:', student_dict)
do = True

while do:
  id = input('학번을 입력하세요 : ')
  if id in student_dict:
    print('{}번 학생은 {}입니다.'.format(id, student_dict[id]))
  elif int(id) < 0:
    print('프로그램을 종료합니다.')
    do = False
  else:
    print('해당 학번의 학생이 없습니다.')

학생 정보: {'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요 : 191102
191102번 학생은 임꺽정입니다.
학번을 입력하세요 : 19113
해당 학번의 학생이 없습니다.
학번을 입력하세요 : 191103
191103번 학생은 장길산입니다.
학번을 입력하세요 : -1
프로그램을 종료합니다.

## 6.17 어느 마을의 인구구성을 나타내는 튜플이 있다. 이 튜플은 0세에서 9세까지의 인구수가 첫 번째 원소가 되고, 두 번째 원소는 10세에서 19세, 즉 10대의 인구이다. 세 번째 원소는 20세에서 29세인 20대의 인구수이며, i+1 번째 원소는 10i세에서 10i+9세까지의 인구수를 담고 있다. 마지막 원소는 11번째 원소로 100세 이상의 인구 모두가 포함된다. A 마을과 B 마을의 인구 구성을 담고 있는 튜플이 다음과 같다고 하자.
---
```
population_A = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_B = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)

```

### (1) 두 마을에서 선거가 치뤄진다. 선거는 만 20세 이상의 주민에게 권리가 주어진다고 하자. 슬라이싱(slicing)을 이용하여 두 마을에 보내야 하는 투표용지의 개수는 각각 얼마인지 계산하라.
---
실행 결과


```
마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1778 장입니다.
```

In [0]:
population_a = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_b = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)
ballotA = sum(population_a[2:])
ballotB = sum(population_b[2:])

print('마을 A와 B에 보낼 투표용지의 개수는 각각 {} 장과 {} 장입니다.'.format(ballotA, ballotB))

마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.

### (2) 각각의 마을의 노령화 정도를 비교하자. 노령화 정도는 전체 인구에서 70세 이상의 노인 인구가 차지하는 비율로 표현한다고 가정하자. 다음과 같은 결과가 나오도록 프로그램을 작성하라. (역시 슬라이싱을 이용하여 데이터에서 필요한 부분을 추출해 온다.)
---
실행결과

```
마을 A와 B의 고령화 정도는 각각 0.165와 0.003입니다.
```

In [0]:
population_a = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_b = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)
oldA = sum(population_a[7:])
oldB = sum(population_b[7:])
sumA, sumB = sum(population_a), sum(population_b)

oldRateA, oldRateB = oldA/sumA, oldB/sumB

print('마을 A와 B의 고령화 정도는 각각 {:5.3f}와 {:5.3f}입니다.'.format(oldRateA, oldRateB))

마을 A와 B의 고령화 정도는 각각 0.165와 0.003입니다.

## 6.18 다음 코드의 수행 결과를 적으시오. 이 중에서 에러가 발생하는 부분은 어느 부분인가?
---
```
>>> s1 = set('abcd')
>>> s1
(1) _____________________________________
>>> s2 = set('defg')
>>> s2
(2) _____________________________________
>>> s1 == s2
(3) _____________________________________
>>> s1 + s2
(4) _____________________________________
>>> s1 & s2
(5) _____________________________________
```

In [0]:
s1 = set('abcd')
s1

{'a', 'b', 'c', 'd'}

In [0]:
s2 = set('defg')
s2

{'d', 'e', 'f', 'g'}

In [0]:
s1 == s2

False

In [0]:
s1 + s2

TypeError: ignored

In [0]:
s1 & s2

{'d'}

## 6.19 다음과 같은 집합에 대한 연산을 적용할 적에, 다음 밑줄 친 부분에 들어갈 알맞은 결과는 무엇인가?
---
```
>>> s1 = {0, 1, 2, 3, 4, 5}
>>> s2 = {3, 4, 5, 6, 7}
>>> s1 & s2
(1) ___________________________
>>> s1 | s2
(2) ___________________________
>>> s2 - s1
(3) ___________________________
>>> s1 - s2
(4) ___________________________
>>> s1 ^ s2
(5) ___________________________
>>> 2 in s1
(6) ___________________________
```

In [0]:
s1 = {0, 1, 2, 3, 4, 5}
s2 = s2 = {3, 4, 5, 6, 7}
s1 & s2

{3, 4, 5}

In [0]:
s1 | s2

{0, 1, 2, 3, 4, 5, 6, 7}

In [0]:
s2 - s1

{6, 7}

In [0]:
s1 - s2

{0, 1, 2}

In [0]:
s1 ^ s2

{0, 1, 2, 6, 7}

In [0]:
2 in s1

True

## 6.20 학생의 이름과 국어, 수학, 과학 성적이 하나의 튜플을 이룬다. 이렇게 튜플로 표시된 학생의 성적을 원소로 하는 튜플 scores가 아래와 같이 있다.
---
```
scores = ( ('박동규', 88, 95, 90), ('강영민', 85, 90, 95), ('박동민', 70, 90, 80), ('홍승주', 90, 90, 95))
```

### 1) 이러한 튜플을 zip() 함수를 사용하여 언패킹하여 수학 성적만 추출한 뒤에 수학 성적의 평균을 구하는 코드를 작성하라.
실행 결과


```
학생들의 수학 성적의 평균은 91.25입니다.
```

In [3]:
scores = ( ('박동규', 88, 95, 90), ('강영민', 85, 90, 95), ('박동민', 70, 90, 80), ('홍승주', 90, 90, 95))
_, _, math, science = zip(*scores)

total = 0
for i in math: 
    total += i
  
print('학생들의 수학 성적의 평균은 {0:5.2f}입니다.'.format(total/len(math)))

학생들의 수학 성적의 평균은 91.25입니다.

### 2) 이러한 튜플을 언패킹하여 수학, 과학 성적만 추출한 뒤에 수학과 과학 성적의 평균을 구하는 코드를 작성하라.
---
실행 결과


```
학생들의 수학과 과학 성적의 평균은 90.62입니다.
```

In [4]:
total = 0
for m_score in math: 
    total += m_score
for s_score in science: 
    total += s_score

result = total/(len(math)+len(science))
print('학생들의 수학과 과학 성적의 평균은 {0:5.2f}입니다.'.format(result))

학생들의 수학과 과학 성적의 평균은 90.62입니다.

### 3) 이러한 튜플에 대하여 학생의 이름과 국어, 수학, 과학 성적의 평균 점수를 student_dic이라는 딕셔너리 구조에 넣은 후 다음과 같이 이름과 평균성적을 출력하여라.
---
실행 결과


```
이름         평균성적
---------------------
박동규        91.00
강영민        90.00
박동민        80.00
홍승주        91.67
```

In [0]:
scores = ( ('박동규', 88, 95, 90), ('강영민', 85, 90, 95), ('박동민', 70, 90, 80), ('홍승주', 90, 90, 95))

student_dic = {}

for val in scores:
  sum = val[1] + val[2] + val[3]
  avg = sum / 3
  student_dic[val[0]] = avg
  
print("이름         평균성적")
print("---------------------")
for k in student_dic.keys():
    print('{}   {:10.2f}'.format(k, student_dic[k]))

이름         평균성적
---------------------
박동규        91.00
강영민        90.00
박동민        80.00
홍승주        91.67

## 6.21 어떤 문자열을 뒤집었을 때에 원래의 문자열과 같은 것을 회문(palindrome)이라고 한다. 예를 들어 'mom'은 문자열을 뒤집어도 'mom'이 되므로 회문이다. 어떤 문자열을 입력하면 이 문자열이 회문인지 아닌지 검사하는 코드를 작성하라.
---
실행 결과
```
문자열을 입력하시오 : racecar
회문입니다.

문자열을 입력하시오 : racing
회문이 아닙니다.

문자열을 입력하시오 : A nut for a jar of tuna
회문입니다.

```

In [6]:
def is_palindrome(string) :
  string = string.upper()
  string = string.replace(" ", "")  
  l = len(string)
  for i in range(l):
    if string[i] is not string[l-1-i] :
      return False
  return True

string = input('문자열을 입력하시오 : ')
if is_palindrome(string):
    print('회문입니다.')
else:
    print('회문이 아닙니다.')

문자열을 입력하시오 : mom
회문입니다.

## 6.22 지금은 세르비아, 슬로베니아, 크로아티아 등으로 분리되어 각각 독립했지만, 20세기 오랜 기간 동안 발칸 반도에는 이 나라들이 유고슬라비아라는 하나의 나라로 묶여 존재하였다. 이 나라 사람들의 이름은 비치(vic)로 끝나는 경우가 많다. 우리는 어떤 사람의 이름이 입력되었을 때, 이 이름이 vic로 끝나는 경우 "발칸 반도에서 오셨나요?"라고 물어보는 프로그램을 작성하려고 한다. (힌트: 문자열에 대해 음수 인덱스를 사용한 슬라이싱을 적용하여 구현해 보라.)
---
실행 결과
```
이름을 입력하세요 : Sinisa Mihajlovic
안녕하세요? Sinisa Mihajlovic 님. 발칸 반도에서 오셨나요?

이름을 입력하세요 : Donald Drump
안녕하세요? Donald Drump 님.
```

In [0]:
name = input("이름을 입력하세요 : ")
postfix = name[-3:]
if postfix == "vic" :
  print("안녕하세요? {} 님. 발칸 반도에서 오셨나요?".format(name))

## 6.23 string 모듈에 정의된 ascii_uppercase는 다음과 같이 알파벳 대문자의 목록이 들어있으며 string.ascii_uppercase로 그 목록을 다음과 같이 문자열 형태로 볼 수 있다.
---
```
>>> import string
>>> string.ascii_uppercase
'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
```

##이 문자열에 대하여 문자열 슬라이싱 기능을 사용하여 다음과 같은 텍스트를 출력하여라.
---
실행 결과
```
ABCDEFGHIJKLMNOPQRSTUVWXYZ
BCDEFGHIJKLMNOPQRSTUVWXYZA
CDEFGHIJKLMNOPQRSTUVWXYZAB
DEFGHIJKLMNOPQRSTUVWXYZABC
EFGHIJKLMNOPQRSTUVWXYZABCD
FGHIJKLMNOPQRSTUVWXYZABCDE
GHIJKLMNOPQRSTUVWXYZABCDEF
HIJKLMNOPQRSTUVWXYZABCDEFG
IJKLMNOPQRSTUVWXYZABCDEFGH
JKLMNOPQRSTUVWXYZABCDEFGHI
```

In [0]:
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [0]:
import string
st = string.ascii_uppercase

for i in range(10):
  s = st[i:]  + st[:i]
  print(s)

ABCDEFGHIJKLMNOPQRSTUVWXYZ
BCDEFGHIJKLMNOPQRSTUVWXYZA
CDEFGHIJKLMNOPQRSTUVWXYZAB
DEFGHIJKLMNOPQRSTUVWXYZABC
EFGHIJKLMNOPQRSTUVWXYZABCD
FGHIJKLMNOPQRSTUVWXYZABCDE
GHIJKLMNOPQRSTUVWXYZABCDEF
HIJKLMNOPQRSTUVWXYZABCDEFG
IJKLMNOPQRSTUVWXYZABCDEFGH
JKLMNOPQRSTUVWXYZABCDEFGHI

## 6.24 (카이사르의 암호문제) 카이사르의 암호는 로마의 장군인 카이사르가 동맹군들과 소통하기 위해 만든 암호인데, 간단한 치환암호의 일종이다. 이 암호는 암호화하고자 하는 내용을 알파벳 별로 일정한 거리만큼 밀어서 다른 알파벳으로 치환하는 방식이다. 예를 들어 알파벳 A가 있을 경우 알파벳에서 3칸 이동한 알파벳 D로 표기할 수 있다. 이 방식의 경우 다음과 같이 대응되는 치환식을 사용한다.

### 1) string 모듈에 정의된 ascii_uppercase를 사용하여 src_str을 만들고, 리스트 슬라이싱 기능을 사용하여 3칸 이동한 dst_str 문자열을 만들어서 다음과 같이 출력하여라.
---
실행 결과
```
src_str = ABCDEFGHIJKLMNOPQRSTUVWXYZ
dst_str = DEFGHIJKLMNOPQRSTUVWXYZABC
```

In [0]:
import string
src_str = string.ascii_uppercase
print('src_str =', src_str)
dst_str = src_str[3:] + src_str[:3]
print('dst_str =', dst_str)

src_str = ABCDEFGHIJKLMNOPQRSTUVWXYZ
dst_str = DEFGHIJKLMNOPQRSTUVWXYZABC

### 2) ‘A’라는 문자열과 'B'라는 문자열에 대하여 src_str내의 인덱스를 index() 함수를 사용하여 구한 후 이 인덱스를 출력하여라. 그리고 이 인덱스에 0과 1에 해당되는 dst_str 문자열의 문자를 출력하여라. 이러한 작업을 하는 함수 ciper(a)를 구현하여 다음의 내용을 출력하여라.
---
실행 결과
```
src_str의 A 인덱스 : 0
dst_str의 0번째 알파벳 : D
src_str의 B 인덱스 : 1
dst_str의 1번째 알파벳 : E
```

In [0]:
def ciper(a):
  idx = src_str.index(a)
  return dst_str[idx]

alphabet = 'A'
idx = src_str.index(alphabet)
print('src_str의 {} 인덱스 : {}'.format(alphabet, idx) )
print('dst_str의 {}번째 알파벳 : {}'.format(idx, ciper(alphabet)))

alphabet = 'B'
idx = src_str.index(alphabet)
print('src_str의 {} 인덱스 : {}'.format(alphabet, idx) )
print('dst_str의 {}번째 알파벳 : {}'.format(idx, ciper(alphabet)))

src_str의 A 인덱스 : 0
dst_str의 0번째 알파벳 : D
src_str의 B 인덱스 : 1
dst_str의 1번째 알파벳 : E

### 3) 위의 ciper(a) 함수를 이용하여 사용자로부터 입력받은 문자열을 암호화하는 다음 프로그램을 작성하여라. 이때 알파벳을 제외한 부분은 입력된 바와 같이 출력하시오.
---
실행 결과
```
문장을 입력하시오: ATTACK TONIGHT!
암호화된 문장 : DWWDFN WRQLJKW!
```

In [0]:
import string

src_str = string.ascii_uppercase
dst_str = src_str[3:] + src_str[:3]

src = input('문장을 입력하시오: ')
print('암호화된 문장 : ', end='')

for ch in src:
  if ch in src_str:
    print(ciper(ch), end='')
  else:
    print(ch, end='')
    
print()

문장을 입력하시오: ATTACK TONIGHT!
암호화된 문장 : DWWDFN WRQLJKW!

### 4) 위의 암호화 기법을 이용하여 암호화된 문장을 입력으로 받아서 이를 해독하는 프로그램을 작성하시오.
---
실행 결과


```
암호화된 문장을 입력하시오: DWWDFN WRQLJKW!
해독된 문장: ATTACK TONIGHT!
```

In [0]:
import string

def deciper(a):
  idx = src_str.index(a)
  return dst_str[idx]

src_str = string.ascii_uppercase
dst_str = src_str[-3:] + src_str[:-3]

src = input('암호화된 문장을 입력하시오 : ')
print('해독된 문장 : ', end='')

for ch in src:
  if ch in src_str:
    print(deciper(ch), end='')
  else:
    print(ch, end='')
    
print()

암호화된 문장을 입력하시오 : DWWDFN WRQLJKW!
해독된 문장 : ATTACK TONIGHT!

### 5) 위의 암호화 기법을 대문자와 소문자 모두에 대해 적용하여라. 즉 아래 수행 결과와 같이 대문자 A는 대문자 D로, 소문자 a는 소문자 d로 출력하여라. 이를 구현하기 위하여 다음과 같은 기능을 참조하여라.
---


```
>>> import string
>>> src_str = string.ascii_uppercase + string.ascii_lowercase
>>> src_str
'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
```
---
실행 결과


```
문장을 입력하시오: Attack tonight!
암호화된 문장: Dwwdfn wrqljkw!
```

In [0]:
import string

def ciper(a):
  idx = src_str.index(a)
  return dst_str[idx]

src_str = string.ascii_uppercase + string.ascii_lowercase
dst_str = src_str[3:] + src_str[:3]

src = input('문장을 입력하시오: ')
print('암호화된 문장 : ', end='')

for ch in src:
  if ch in src_str:
    print(ciper(ch), end='')
  else:
    print(ch, end='')
    
print()

문장을 입력하시오: Veni, vidi, vici
암호화된 문장 : Yhql, ylgl, ylfl

## 6.25 영한사전과 같이 영어 단어를 주면, 이에 해당하는 우리말 단어를 알 수 있게 하려고 한다. 딕셔너리 구조를 활용하여 단어를 입력하고, 검색할 수 있는 프로그램을 작성해 보라. 실행된 결과는 명령 프롬프트 '$가 나타나며, 입력 명령은 '<', 검색 명령은 '>'로 표현한다. 입력은 "영어 단어:우리말 단어" 형태로 이루어지며, 검색은 영어 단어를 입력한다. 실행은 다음과 같은 형태로 이루어진다.
---

실행 결과
```
사전 프로그램 시작... 종료는 q를 입력
$ < boy:소년
$ < girl:소녀
$ < man:남자, 사람
$ < woman:여자
$ < house:집
$ < Korea:한국
$ > boy
소년
$ > body
body가 사전에 없습니다.
$ man
입력 오류가 발생했습니다.
$ > man
남자, 사람
$ q
사전 프로그램을 종료합니다.
```

In [0]:
print("사전 프로그램 시작... 종료는 q를 입력")
dictionary = {'a':'부정관사'}

while True:
  str = input('$ ')
  if str.startswith('q'):
    break;
  
  command = str[0]
  
  if command is '<':
    str = str.replace('<',"")
    inputStr = str.split(':')
    if len(inputStr)< 2 :
      print('입력 오류가 발생했습니다.')
      continue
    else:
      dictionary[inputStr[0].strip()] = inputStr[1].strip()
    
  elif command is '>':
    str = str.replace('>',"")
    inputStr = str.strip()
    if inputStr in dictionary:
      print(dictionary[inputStr])
    else :
      print('{}가 사전에 없습니다.'.format(inputStr))
  elif command is 'q':
    break
  else :
    print('입력 오류가 발생했습니다.')
  
print("사전 프로그램을 종료합니다.")

사전 프로그램 시작... 종료는 q를 입력
$ < boy:소년
$ < girl:소녀
$ < man:남자, 사람
$ < woman:여자
$ >boy
소년
$ > boy
소년
$ > body
body가 사전에 없습니다.
$ q
사전 프로그램을 종료합니다.

## 6.26 다음과 같이 튜플 (m, n)을 원소로 가지는 리스트 mylist가 있다. 사용자로부터 a, b의 두 값을 입력으로 받아서 (a, b)값을 가지는 튜플이 있을 경우 'x번째에 (a, b)원소가 있습니다.'를 출력하시오. 만일 (a, b) 원소는 없으나 (b, a) 원소가 있을 경우, '(a, b)원소는 없으나 y번째에 (b, a) 원소가 있습니다'를 출력하시오. 만일 (a, b) 원소나 (b, a) 원소가 없을 경우에는 '이 원소는 없습니다'를 출력하시오.
---
```
mylist = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)]
```
실행 결과


```
두 정수를 입력하시오: 4 9
(4, 9) 원소는 없으나 5번째에 (9, 4) 원소가 있습니다.
```

In [0]:
mylist = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4), (8, 8), (4, 0)]
print(mylist)

[(1, 2), (4, 5), (4, 2), (3, 1), (9, 4), (8, 8), (4, 0)]

In [0]:
a, b = input('두 정수를 입력하시오:').split()
a, b = int(a), int(b)
if (a, b) in mylist:
  idx = mylist.index((a, b))
  print('{}번째에 {} 원소가 있습니다.'.format(idx+1, (a, b)))
elif (b, a) in mylist:
  idx = mylist.index((b, a))
  print('{} 원소는 없으나 {}번째에 {} 원소가 있습니다.'.format((a, b), idx+1, (b,a)))
else:
  print('{} 원소나 {} 원소는 없습니다'.format((a, b), (b, a)))

두 정수를 입력하시오:4 9
(4, 9) 원소는 없으나 5번째에 (9, 4) 원소가 있습니다.